* {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

.center {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;

}

header {
  height: 180px;
  background-color: #fcfc30;
  display: block;
  width: 100%;
  color: #735cc6;
  position: relative;
}

header .center{
  padding-top: 55px;
  padding-left: 100px;
}

#logotexto {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#logotexto img {
  margin-right: 36px;
}

header .simbolo {
  width: 62px;
  height: 62px;
  top: 63px;
  left: 416px;
}

header .binoculos { 
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
}

body {
  background-color: #f5f5f5;
}

.busca {
  background-color: #735cc6;
  height: 410px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.busca .searchbox {
  width: 756px;
  height: 68px;
  margin-top: 64px;
  border-radius: 5px;
  border: none;
  padding: 16px 77px 18px 30px;
  color: #735cc6;
  font-size: 28px;
}

.busca .searchbox::placeholder {
  color: #735cc6;
}

.busca h1 {
  color: #FCFC30;
  font-weight: 300;
  font-size: 60px;
  line-height: 100%;
}

.busca h1 span {
  font-weight: 500;
}

.busca h2 {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
}

.busca button {
  background-color: #ffffff;
  color: #735cc6;
  border: none;
  padding: 13px 15px;
  border-radius: 100px;
  margin-top: 30px;
  cursor: pointer;
  left: 90%;
  top: 40px;
  position: absolute;
}

.busca form {
  position: relative;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.cards {
  color: #3b3b3b;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(346px, 1fr));
  justify-content: center;
  width: 1098px;
  height: 660px;
  margin: 100px auto 274px;
}

.card {
  padding: 30px;
  border-radius: 5px;
  background-color: #ffffff;
}

.card span {
  font-weight: 700;
  color: #735cc6;
}

.card .title {
  background: url(./images/Seta.svg) no-repeat right center;
  display: inline-block;
  padding-right: 40px;
}

.card a {
  color: #3B3B3B;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.card p {
  margin-top: 56px;
}

footer {
  background-color: #00EBD0;
  height: 236px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #735cc6;
}

footer img {
  width: 62px;
  height: 62px;
  padding-bottom: 26px;
}

footer p {
  font-size: 18px;
  font-weight: 550;
  line-height: 20px;
}

footer p span {
  font-weight: 400;
}